Options -MultiViews
RewriteEngine On

RewriteBase /github/web-php-project/web-php-project/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]