body {
    background-color:  #f9f8f4;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
.navbar {
	margin-bottom: 0;
}
.btn-margin {
    margin: 0 2px;
}
.select-wd {
    width: 80px;
}
.left-inner-addon {
    position: relative;
    padding-right: 0;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
ul {
    padding: 0;
}
li {
    padding-left: 25px;
    list-style: none;
}
.text-b {
    font-size: 20px;
}
#page_id {
    padding: 5px;
    font-size: 18px;
    margin-left: 180px;
}